
* {
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(24,28,0,1) 28%, rgba(24,28,0,1) 38%, rgba(123,135,62,1) 82%, rgba(164,179,87,1) 100%);
}

section#score {
  width: 100%;
}


#board {
  width: 640px;
  height: 640px;
  margin: 1em auto;
}

#board  > div {    
  border: 1px solid black;
  float: left;
  width: 64px;
  height: 64px;
}


section#score div {
  width: 25%;
  height: 100%;
  padding: .75rem 0;
  color: limegreen;
  text-align: center;;
  background-color: #000700;
  border-radius: 3px;
  box-shadow: 0 4px 30px 10px rgba(0,245,98,0.9);
  margin: 2rem auto;
}




.alien {
  background-image: url('../images/aliensimple.gif');
  background-repeat: no-repeat;
  background-size: cover;
}

.Predator {
  background-image: url('../images/predator.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.Hugger {
  background-image: url('../images/facehugger.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#over,
#start{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: limegreen;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(255, 255, 255, .1);
}

#start {
  background-size: cover;
  background:linear-gradient(to right, rgba(98,125,77,1) 0%, rgba(116,235,18,0.53) 100%), url('../images/background.jpg') center;
}

#over h2 {
  font-size: 4rem;
}

#over h3 {
  font-size: 3rem;
}

#over button,
#start button{
  border: none;
  background-color: #000700;
  color: limegreen;
  height: 100px;
  width: 250px;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;
  transition: all .3s;
  border-radius: 3px;
}

#start button {
  height: 150px;
  width: 400px;
  font-size: 3rem;
}

#over button:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 41px 10px rgba(0,245,98,0.9);
}

#over button:active {
  transform: translateY(5px);
  box-shadow: 0 2px 20px 5px rgba(0,245,98,0.9);
}

#start button:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 60px 20px rgba(0,245,98,0.9);
}

#start button:active {
  transform: translateY(10px);
  box-shadow: 0 5px 40px 10px rgba(0,245,98,0.9);
}


.invisible {
  visibility: hidden;
}